<!-- /.info-box -->
<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-tasks"></i>
        <h3 class="box-title">Docker Containers</h3>
        <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-lg-6 col-xs-12" ng-repeat="container in containers">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <span ng-if="isSecure(container)" data-toggle="tooltip" title="" class="badge bg-yellow" style="position: absolute;top: -3px;right: -10px;" data-original-title="BuildKit Secure">
                        <i class="fa fa-lock"></i>
                    </span>
                    <div class="inner">
                        <h3>{{getName(container)}}</h3>
                        <p>{{container.Image}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-docker"></i>
                    </div>
                    <a href="{{getSecureUrl(container)}}" class="small-box-footer" target="_blank" ng-if="isSecure(container)">{{getSecureUrl(container)}} <i class="fa fa-arrow-circle-right"></i></a>
                    <a class="small-box-footer" ng-if="!isSecure(container) && !isPublic(container)">:{{getPrivatePort()}} <i class="fa fa-plug"></i></a>
                    <a href="{{getPublicUrl()}}" ng-if="!isSecure(container) && isPublic(container)" target="_blank" class="small-box-footer">{{getPublicUrl()}} <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div>
</div>
<!-- /.box -->