<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{{tutorialData.title}}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12 col-md-6" ng-bind-html="tutorialData.description | unsafe"></div>
            <div class="col-sm-12 col-md-6">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item" ng-class="$index == 0?'active':''" ng-repeat="screenshot in tutorialData.screenshots">
                            <img ng-src="{{screenshot.url}}" alt="{{screenshot.title}}">
                            <div class="carousel-caption">{{screenshot.title}}</div>
                        </div>
                    </div>
                    <!-- <a class="left carousel-control" href="#carousel-example-generic"
                    data-slide="prev">-->
                    <!-- <span class="fa fa-angle-left"></span>-->
                    <!--</a>-->
                    <!-- <a class="right carousel-control" href="#carousel-example-generic"
                    data-slide="next">-->
                    <!-- <span class="fa fa-angle-right"></span>-->
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div class="mailbox-controls">
            <button type="button" class="btn btn-social-icon" ng-repeat="tool in tutorialData.tools"
            ng-class="tool.background" alt="{{tool.title}}" style="margin-right:3px">
                <i class="fa" ng-class="tool.icon"></i>
            </button>
            <div class="pull-right">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createProjectModal-{{tutorialData.name}}" ng-click="onCreateProject()">
                    <i class="glyphicon glyphicon-chevron-right"></i>Create Project</button>
            </div>
        </div>
    </div>
  <div class="modal" id="createProjectModal-{{tutorialData.name}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog">
	    <form  role="form" ng-submit="onNewProjectSubmit()">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span></button>
		        <h4 class="modal-title">Create Project</h4>
		      </div>
		      <div class="modal-body">
				<div class="form-group">
		            <label for="projectName">Name</label>
		            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" id="projectName" placeholder="Enter project name" ng-model="project.name" autofocus="">
	             </div>
	             <div class="form-group">
	             	<label for="projectUrl">URL</label>
	                <div class="input-group">
	                    <span class="input-group-addon">http://</span>
	                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="projectUrl" placeholder="hostname" ng-model="project.hostname">
	                    <span class="input-group-addon">.buildkit.io</span>
	                </div>
	              </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="onCreateProjectModalClose()">Close</button>
		        <button type="submit" class="btn btn-primary" >OK</button>
		      </div>
		     </div>
	    </form>
	    <!-- /.modal-content -->
	  </div>
  <!-- /.modal-dialog -->
	</div>
</div>
<!-- /. box -->